<div class = "container">
	<div class = "tablo_konum">

<h1>Admin Panel</h1>

<table class = table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Created Time</th>
    <th>Updated Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.name %></td>
    <td><%= form.surname %></td>
    <td><%= form.created_at %></td>
    <td><%= form.updated_at %></td>
    <td><%= button_to 'Show', form ,class: "btn btn-primary" %></td>
    <td><%= button_to 'Edit', edit_form_path(form),class: "btn  btn-warning" %></td>
    <td><%= button_to 'Destroy', form, confirm: 'Are you sure?', method: :delete , class: "btn btn-info" %></td>
  </tr>
<% end %>
</table>

<br />


</div>
</div>
